<section id="about" class="about section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2><%= setting.aboutSection.mainTitle %></h2>
        <p><%= setting.aboutSection.headerContent %></p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4 justify-content-center">
          <div class="col-lg-4">
            <img src="<%= setting.aboutSection.profileImage %>" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 content">
            <h2><%= setting.aboutSection.profession %></h2>
            <p class="fst-italic py-3">
              <%= setting.aboutSection.description %>
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span><%= setting.aboutSection.birthday %></span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span><%= setting.aboutSection.website %></span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span><%= setting.aboutSection.phone %></span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span><%= setting.aboutSection.city %></span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span><%= setting.aboutSection.age %></span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span><%= setting.aboutSection.degree %></span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span><%= setting.aboutSection.email %></span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span><%= setting.aboutSection.freelance %></span></li>
                </ul>
              </div>
            </div>
            <p class="py-3">
              <%= setting.aboutSection.footerContent %>
            </p>
              <!-- زر تحميل السيرة الذاتية -->
            <a href="<%= setting?.cv?.fileUrl || '#' %>" class="btn btn-primary" download>
               <i class="bi bi-download"></i> Download CV
             </a>
          </div>
        </div>

      </div>

    </section>