<section id="resume" class="resume section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>My Resume</h2>
        <p>Full-Stack Web Developer focused on backend development using Node.js, Express, and MongoDB.
           Experienced in customizing frontend templates with EJS to create polished and efficient applications.
        </p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Sumary</h3>

            <div class="resume-item pb-0">
              <h4><%= setting.resumeSection.summary.name %></h4>
              <p><em><%= setting.resumeSection.summary.description %></em></p>
              <ul>
                <li><%= setting.resumeSection.summary.address %></li>
                <li><%= setting.resumeSection.summary.phone %></li>
                <li><%= setting.resumeSection.summary.email %></li>
              </ul>
            </div><!-- Edn Resume Item -->

            <h3 class="resume-title">Education</h3>
        <% if (setting.resumeSection.education && setting.resumeSection.education.length > 0) { %>
  <% setting.resumeSection.education.forEach(function(edu) { %>
    <div class="resume-item">
      <h4><%= edu.degree %> in <%= edu.field %></h4>
      <h5><%= edu.year %></h5>
      <p><em><%= edu.institution %></em></p>
      <p><%= edu.details %></p>
    </div>
  <% }) %>
<% } else { %>
  <p>No education records found.</p>
<% } %>
         
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
  <h3 class="resume-title">Professional Experience</h3>

  <% if (setting.resumeSection.experience && setting.resumeSection.experience.length > 0) { %>
    <% setting.resumeSection.experience.forEach(function(exp) { %>
      <div class="resume-item">
        <h4><%= exp.title %></h4>
        <h5><%= exp.period %></h5>
        <p><em><%= exp.company %></em></p>
        <ul>
          <% if (exp.responsibilities && exp.responsibilities.length > 0) { %>
            <% exp.responsibilities.forEach(function(task) { %>
              <li><%= task %></li>
            <% }) %>
          <% } else { %>
            <li>No responsibilities listed.</li>
          <% } %>
        </ul>
      </div>
    <% }) %>
  <% } else { %>
    <p>No professional experience found.</p>
  <% } %>
</div>


        </div>

      </div>

    </section>